<!DOCTYPE html>
<html lang="en">

{{{header}}}

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="/img/logo.png" alt="Abhi International Journals Logo">
        <h4 class="sitename">Abhi International Journals</h4>
      </a>


      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Home<br></a></li>
          <li class="dropdown"><a><span>Journals List</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              {{#journals}}
              <li>
                <a href="/{{domain}}/" target="_blank">{{title}}</a>




              </li>
              {{/journals}}
            </ul>
          </li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Features</a></li>
          <li><a href="#team">Chief Advisors</a></li>

          <li><a href="#contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted d-none d-xl-inline-block" href="https://admin.abhijournals.com" target="_blank">Submit
        Paper</a>

    </div>
  </header>

  <main class="main">

    {{{hero}}}

    {{{about}}}



    <!-- Stats Section -->
    <section id="stats" class="stats section light-background">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="0" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Journals</p>
            </div>

          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="0" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Volumes</p>

            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="0" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Issues</p>
            </div>

          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="0" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>Articles</p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>

    </section><!-- /Stats Section -->

    {{{features}}}






    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section accent-background">

      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-10">
            <div class="text-center">
              <h3>Submit Your Paper</h3>
              <p>With The Support Of Strong Editorial Board We Provide Quality Publication Through Our Rigorous Peer
                Review Process.</p>
              <a class="cta-btn" href="https://admin.abhijournals.com/">Submit</a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Call To Action Section -->

    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Choose Your Area of Interest</h2>
        <p>Abhi International is a peer reviewed open access journal dedicated to publish high-quality research in all
          areas</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">



          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
            {{#journals}}
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <img src="{{ image }}" class="img-fluid" alt="{{ title }}">
              <div class="portfolio-info">
                <a href="/{{domain}}/" target="_blank">

                  <h4>{{ title }}</h4>

                </a>



                <a href="/{{domain}}/" target="_blank" title="More Details" class="details-link"><i
                    class="bi bi-link-45deg"></i></a>




              </div>

            </div><!-- End Portfolio Item -->

            {{/journals}}
          </div><!-- End Portfolio Container -->

        </div>

      </div>

    </section><!-- /Portfolio Section -->







    {{{contact}}}

  </main>

  {{{footer}}}

  <!-- Scroll Top -->
  <a id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>
  <script src="/vendor/aos/aos.js"></script>

  <script src="/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>

  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>

  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>


  <!-- Main JS File -->
  <script src="/js/index.js"></script>


</body>

</html>