<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width="device-width, initial-scale=1.0">
    <title>Articles List</title>
</head>
<body>
    {{{header}}}
    
    <div class="container-fluid mt-5 mb-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                
                    {{#hasArticles}}
                        <div class="articles-list">
                            {{#articles}}
                                <div class="card shadow-sm mb-4">
                                    <div class="card-body">
                                        <h3 class="card-title">
                                            <a href="/{{domain}}/article/{{id}}/" class="text-decoration-none">{{title}}</a>
                                        </h3>
                                        <div class="card-text">
                                            {{#authors}}
                                                <p class="authors mb-0">{{name}}</p>
                                            {{/authors}}
                                        </div>
                                    </div>
                                </div>
                            {{/articles}}
                        </div>
                    {{/hasArticles}}
                    
                    {{^hasArticles}}
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <p class="mb-0">No articles found in this issue.</p>
                            </div>
                        </div>
                    {{/hasArticles}}
                </div>
            </div>
        </div>
    </div>

    {{{footer}}}
</body>
</html>
